{deps, [{erlsom, "1.4.2"}]}.
{plugins, [rebar3_hex]}.

{erl_opts, [debug_info]}.

{profiles, [
    {test, [
        {deps, [
                {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v4.2.2"} }},
                {cowboy, "1.1.2"},
                {mochiweb, "3.1.1"}
        ]},
        {ct_extra_params, "-spec test/test_specs.spec"},
        {erl_opts, [debug_info]}
    ]}
]}.
