{deps, [{erlsom, "1.4.2"}]}.

{erl_opts, [debug_info]}.

{profiles, [
    {test, [
        {deps, [
                {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v4.2.2"} }},
                {cowboy, "1.1.2"},
                {mochiweb, "3.1.1"}
        ]},
        {ct_extra_params, "-spec test/test_specs.spec"},
        {erl_opts, [debug_info]}
    ]}
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
          {source_url, <<"https://github.com/primait/erlang-soap">>},
          {extras, [<<"README.md">>, <<"LICENSE.md">>]},
          {main, <<"readme">>}]}.


{hex, [{repos, [#{name => <<"hexpm:prima">>}]}]}.